body {
    background: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;
    padding: 15px;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 24px;
}

a {
    color: #d21034
}

.bio-image {
    float: left;
    width: 35%;
    padding-left: 30px;
}

#bio {
    line-height: 1.5em;
    float: left;
    width: 30%;
    margin-top: 50px;
}

#contact-info {
    float: left;
    width: 30%;
    line-height: 2em;
}

#bio-image-1 {
    width: 200px;
    margin-right: 10px;
    float: left;
}

#bio-image-2 {
    height: 250px;
    margin-right: 10px;
}

#rhyme {
    margin-top: 150px;
}